email_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="EmailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Sender" type="xs:string" />
                <xs:element name="Recipient" type="xs:string" />
                <xs:element name="Subject" type="xs:string" />
                <xs:element name="Body" type="xs:string" />
                <xs:element name="Timestamp" type="xs:dateTime" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>